$primary-color-red-1: #f94545;
$primary-color-green-2: #67b044;
$primary-color-blue-3: #0071dc;
$primary-color-purple-4: #7644e1;
$primary-color-yellow-5: #ffb700;
$primary-color-black-6: #1a162e;
$primary-color-mint-7: #77dae6;

$background-color-1: #f8f8fb;
$background-color-2: #fafafd;
$background-color-3: #ffffff;
